
.login{
  background-color: #0b132b;
  
  width: 400px;
  padding: 40px;
  box-shadow: 10px 10px 20px black;
  color: white;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.login input{
  display: block;
  margin: 20px auto;
  text-align: center;
  background: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  color: whitesmoke;
  outline: none;
}
.test1{
  background: none;
  width: auto;
  font-size: 40px;
  border: 10px;
}

.login input[type="text"], .login input[type="password"]{
  border: 2px solid #3498db;
  width: 220px;
}


.login input[type="submit"]{
  width:auto;
  border: 2px solid #2ecc71;
  cursor: pointer;
}

.login input[type="text"]:focus, .login input[type="password"]:focus{
  border-color: slategrey;
  width: 280px;
  transition: 0.5s;
}

.login input[type="submit"]:hover{
  background-color: #2ecc71;
  transition: 0.5s;
}
